body { font-family: Arial;
    font-size: 12pt;
    background-color: #F0E68C; 
    color: #4B0082; 
    margin: 20pt; 
}

h1 { font-size: 2em;
    color: #8A2BE2;
}

h2 { font-size: 1.5em;
    color: #5F9EA0; 
}

p { font-size: 1em;
    color: #2F4F4F; 
}

a.link { color: #1E90FF; 
}

a.link:visited { color: #FF4500; 
}

a.link:hover { color: #FF6347;
}

a.link:active { color: #32CD32; 
}

.table { display: flex;
    margin-top: 20pt;
}

.row { display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cell { border: 1px solid #8B0000;
    padding: 10pt;
    margin: 5pt;
    flex: 1; /* Equal width */
}
