body {
    font-family: Arial, sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 20px;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block; /* Show dropdown */
}

img.enlarged {
    width: 400px; /* Enlarged size */
    transition: width 0.3s; /* Smooth transition */
}
